body {
    font-family: 'Chakra Petch', sans-serif;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
  }
  
  th {
    background-color: purple;
    text-align: left;
    padding: 10px;
  }

  td {
    padding: 10px;
  }

  tr:nth-child(even) {
    background: violet;
  }

  tr:nth-child(odd) {
    background:	#BA55D3;
  }